.material-card-conteiner{
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    width: 50rem;
    padding: 1rem;
}

.material-card-section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.material-obs {
    margin: 1rem 0;
}

@media screen and (max-width: 750px) {
    .material-card-conteiner{
        width: 90%;
    }
    
}