.materiales-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materiales-title{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.material-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-element {
    margin: 5px;
}

.add-material {
    background-color: rgb(99, 232, 99);
}