@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*Paleta de colores*/
    --azul-oscuro: #0A2647;
    --azul-marino: #144272;
    --azul-primario: #205295;
    --azul-claro: #2C74B3;
    --white: #f8f9fa;
    --negro: #343a40;
    --gris: #cdcdcd;
    --verde: #28a745;
    --red: #dc3545;
  
    /*Tipografia*/
    --sans-serif :"Public Sans", sans-serif;
    --serif : "GFS Didot", serif;
  
    /* --navbar-height : 4rem; */
    --navbar-height : 0rem;
    --section-height : calc(100vh -(var(--navbar-height)))
  
    /* Breaking points */
    --xs: 380px;
    --small : 576px;
    --medium : 768px;
    --large : 992px;
  }

*{
    margin: 0;
    padding: 0 ;
    font-family: var(--sans-serif);
}

body {
    position: relative;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    overflow: hidden;
}

.page{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    margin-top: var(--navbar-height);
    background-color: var(--white);
    
    /* padding-top: var(--navbar-height); */
}

.btn {
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.btn:hover{
    filter: brightness(1.3);
}

/* .btn-azul{
    background-image: linear-gradient(var(--azul-marino),var(--azul-oscuro),var(--azul-marino));
    -webkit-text-fill-color: white;
    font-size: 5%;

}

.btn-azul:hover{
    filter: brightness(1.3);
} */