.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    min-height: 3rem;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
}

.navBar h2 {
    margin-left: 10px;
}

.navBar .btn-logout{
    background-color: #0f172a;
    color: white;
    border: 1px solid rgb(213, 211, 211);
    margin-right: 10px;
}